In [8]:
import pandas as pd
import numpy as np

In [108]:
A = [3,6,9,4,6]
B = [210, 320, 150, 215, 189]

In [115]:
class Normalization:
    @staticmethod
    def std(df, col_name):
        list_values = df[col_name]
        mi = np.mean(list_values)
        sd = np.std(list_values)
        new_list = (list_values - mi)/sd
        df[col_name] = new_list
        
    @staticmethod
    def min_max(df, col_name):
        list_values = df[col_name]
        new_list = (list_values - min(list_values))/(max(list_values) - min(list_values))
        df[col_name] = new_list

In [149]:
df = pd.DataFrame({'A': A, 'B': B})

In [150]:
norm = Normalization()

In [151]:
norm.std(df, 'A')
df

          A    B
0 -1.262672  210
1  0.194257  320
2  1.651186  150
3 -0.777029  215
4  0.194257  189

In [152]:
norm.min_max(df, 'B')
df

          A         B
0 -1.262672  0.352941
1  0.194257  1.000000
2  1.651186  0.000000
3 -0.777029  0.382353
4  0.194257  0.229412