## Inercja

suma kwadratów różnic pomiędzy każdym obiektem ($x_i$) a środkiem klastra ($C_k$):

$$\sum_{i=1}^{n}(x_i - C_k)^2$$

 - niższe wartości wskazują na wyodrębnienie bardziej spójnych grup.

In [14]:
import numpy as np
import pandas as pd
# from plotnine import *

from sklearn.cluster import KMeans

from sklearn.datasets import make_blobs

ModuleNotFoundError: No module named 'plotnine'

In [12]:
conda install plotnine

Collecting package metadata (current_repodata.json): ...working... done
Note: you may need to restart the kernel to use updated packages.
Solving environment: ...working... failed with initial frozen solve. Retrying with flexible solve.
Collecting package metadata (repodata.json): ...working... done
Solving environment: ...working... failed with initial frozen solve. Retrying with flexible solve.

PackagesNotFoundError: The following packages are not available from current channels:

  - plotnine

Current channels:

  - https://repo.anaconda.com/pkgs/main/win-64
  - https://repo.anaconda.com/pkgs/main/noarch
  - https://repo.anaconda.com/pkgs/r/win-64
  - https://repo.anaconda.com/pkgs/r/noarch
  - https://repo.anaconda.com/pkgs/msys2/win-64
  - https://repo.anaconda.com/pkgs/msys2/noarch

To search for alternate channels that may provide the conda package you're
looking for, navigate to

    https://anaconda.org

and use the search bar at the top of the page.

In [6]:
n = 100

centra = [(-6,-6), (0,0), (6,6), (9,9)]

X, y = make_blobs(n_samples=n, n_features=2, centers=centra, cluster_std=1, random_state=0)

In [7]:
df = pd.DataFrame(X, columns = ['x1', 'x2'])

In [8]:
df['Grupy'] = y

In [9]:
df

          x1        x2  Grupy
0  -5.845053 -5.621837      0
1   8.356382  6.776597      3
2   0.066517  0.302472      1
3   7.895617  9.052165      3
4   8.544467  9.017479      3
..       ...       ...    ...
95 -1.070753  1.054452      1
96  5.087178  7.117016      2
97  0.126912  0.401989      1
98  6.947252  5.844990      2
99  0.729091  0.128983      1

[100 rows x 3 columns]

In [13]:
(ggplot(df, aes(x= 'x1', y = 'x2', color = 'factor(Grupy)')) + 
 geom_point() + 
 theme_minimal() +
 labs(color = 'Grupy'))

NameError: name 'ggplot' is not defined

In [11]:
# k-means
km_2 = KMeans(n_clusters=2).fit(df[['x1', 'x2']])

# dodanie do ramki kolumny z etykietami klastrów
df['klastry_2'] = km_2.labels_
# df['klastry_2'] = km_2.predict(df[['x1', 'x2']])

# wykres
(ggplot(df, aes(x= 'x1', y = 'x2', color = 'factor(klastry_2)')) + 
 geom_point() + 
 annotate(geom='text', x = 5, y = 7.5, label = f'Inercja = {round(km_2.inertia_, 2)}') +
 theme_minimal() +
 labs(color = 'Klastry'))

## Wykres osypiska

Wizualizacja wartości inercji dla wyników grupowania z przyjętymi podziałami na $k$ klastrów. Szukamy punktu, przy którym następuje spadek przyrostu inercji. Jak podaje Krzyśko i in. (2008, s. 354), wraz ze wzrostem liczby klastrów, suma wariancji wewnątrzgrupowej maleje. Zatem w celu wybrania optymalnej liczby klastrów można posłużyć się zestawieniem na wykresie sum wariancji wewnątrzgrupowych wraz z liczbą klastrów i zastosować heurystyczne podejście zwane metodą łokcia – znaleźć punkt silnego przegięcia, po którym suma wariancji przestaje znacząco spadać. Ten punkt sugeruje, że podział na coraz większą liczbę skupisk w niewielkim stopniu wpływa na podniesienie jakości grupowania (wyodrębnienia spójnych klastrów).

In [17]:
ks = range(2, 20)
inercje = []

for k in ks:
    km = KMeans(n_clusters=k).fit(df[['x1', 'x2']])
    inercje.append(km.inertia_)

In [19]:
inercje_df = pd.DataFrame({'K': ks,
                           'Inercja': inercje})

In [20]:
inercje_df

     K      Inercja
0    2  1231.629267
1    3   378.810049
2    4   197.299649
3    5   168.968577
4    6   144.540897
5    7   126.677612
6    8   113.424794
7    9    96.879603
8   10    86.227533
9   11    78.848608
10  12    69.471970
11  13    66.627588
12  14    59.298200
13  15    54.963270
14  16    48.798560
15  17    47.588568
16  18    43.339079
17  19    39.053347

In [ ]:
(ggplot(inercje_df, aes(x = 'K', y='Inercja'))+
 geom_point() +
 scale_x_continous(breaks = ks)
 geom_line() +
 theme_minimal()
 labs(title= 'Inercja dla kolejnych K'))