## Indeks silhouette

jest indeksem obliczanym dla każdego obiektu, wyrażającym na ile blisko temu obiektowi do wszystkich pozostałych z jego grupy w stosunku do wszystkich pozostałych z innej (najbliższej grupy).


$$s(i) = \frac{b(i) - a(i)}{\max(a(i), b(i))}$$
​

gdzie:

- $a(i)$ to średnia odległość obserwacji $x_i$ od pozostałych z jej grupy (*cohesion* - spójność),
- $b(i)$ to najmniejsza ze średnich odległości do pozostałych grup (*separation* - rozdzelenie).

In [14]:
import pandas as pd
import numpy as np
# from plotnine import *

ModuleNotFoundError: No module named 'plotnine'

In [3]:
df = pd.DataFrame({"ai": np.arange(0.1, 5, 0.2), "bi": np.arange(4.9, 0, -0.2)})

In [4]:
df

     ai   bi
0   0.1  4.9
1   0.3  4.7
2   0.5  4.5
3   0.7  4.3
4   0.9  4.1
5   1.1  3.9
6   1.3  3.7
7   1.5  3.5
8   1.7  3.3
9   1.9  3.1
10  2.1  2.9
11  2.3  2.7
12  2.5  2.5
13  2.7  2.3
14  2.9  2.1
15  3.1  1.9
16  3.3  1.7
17  3.5  1.5
18  3.7  1.3
19  3.9  1.1
20  4.1  0.9
21  4.3  0.7
22  4.5  0.5
23  4.7  0.3
24  4.9  0.1

In [5]:
df['roznica'] = df.bi - df.ai
df['maks'] = df.max(axis=1)
df['silh'] = df.roznica / df.maks

In [8]:
df['silh_abs'] = df.silh.abs()

In [9]:
df

     ai   bi       roznica  maks          silh      silh_abs
0   0.1  4.9  4.800000e+00   4.9  9.795918e-01  9.795918e-01
1   0.3  4.7  4.400000e+00   4.7  9.361702e-01  9.361702e-01
2   0.5  4.5  4.000000e+00   4.5  8.888889e-01  8.888889e-01
3   0.7  4.3  3.600000e+00   4.3  8.372093e-01  8.372093e-01
4   0.9  4.1  3.200000e+00   4.1  7.804878e-01  7.804878e-01
5   1.1  3.9  2.800000e+00   3.9  7.179487e-01  7.179487e-01
6   1.3  3.7  2.400000e+00   3.7  6.486486e-01  6.486486e-01
7   1.5  3.5  2.000000e+00   3.5  5.714286e-01  5.714286e-01
8   1.7  3.3  1.600000e+00   3.3  4.848485e-01  4.848485e-01
9   1.9  3.1  1.200000e+00   3.1  3.870968e-01  3.870968e-01
10  2.1  2.9  8.000000e-01   2.9  2.758621e-01  2.758621e-01
11  2.3  2.7  4.000000e-01   2.7  1.481481e-01  1.481481e-01
12  2.5  2.5 -2.220446e-15   2.5 -8.881784e-16  8.881784e-16
13  2.7  2.3 -4.000000e-01   2.7 -1.481481e-01  1.481481e-01
14  2.9  2.1 -8.000000e-01   2.9 -2.758621e-01  2.758621e-01
15  3.1  1.9 -1.200000e+00   3.1 -3.870968e-01  3.870968e-01
16  3.3  1.7 -1.600000e+00   3.3 -4.848485e-01  4.848485e-01
17  3.5  1.5 -2.000000e+00   3.5 -5.714286e-01  5.714286e-01
18  3.7  1.3 -2.400000e+00   3.7 -6.486486e-01  6.486486e-01
19  3.9  1.1 -2.800000e+00   3.9 -7.179487e-01  7.179487e-01
20  4.1  0.9 -3.200000e+00   4.1 -7.804878e-01  7.804878e-01
21  4.3  0.7 -3.600000e+00   4.3 -8.372093e-01  8.372093e-01
22  4.5  0.5 -4.000000e+00   4.5 -8.888889e-01  8.888889e-01
23  4.7  0.3 -4.400000e+00   4.7 -9.361702e-01  9.361702e-01
24  4.9  0.1 -4.800000e+00   4.9 -9.795918e-01  9.795918e-01

## Interpretacja

Im bliższa $s(i)$  wartości 1, tym bardziej dany obiekt pasuje do swojej grupy, im bliższa wartości -1, tym bliżej temu obiektowi do grupy sąsiedniej. $s(i)$ bliskie 0 oznacza, że punkt znajduje się pomiędzy dwoma skupieniami.

In [10]:
(ggplot(df, aes(x ='ai', y = 'bi', color = 'silh', size = 'silh_abs')) +
 geom_point() +
 scale_color_gradient(low='red', high = 'green')
 theme_minimal())

NameError: name 'ggplot' is not defined

## Przykład

In [1]:
from sklearn.cluster import KMeans
from sklearn.metrics import silhouette_score

from sklearn.datasets import make_blobs

In [4]:
import pandas as pd

In [2]:
n = 100

centra = [(-6,-6), (0,0), (6,6), (9,9)]

X, y = make_blobs(n_samples=n, n_features=2, centers=centra, cluster_std=1, random_state=0)

In [5]:
df = pd.DataFrame(X, columns = ['x1', 'x2'])
df['Grupy'] = y

In [6]:
ks = range(2, 20)
sylwetki = []

for k in ks:
    km = KMeans(n_clusters = k).fit(df[['x1', 'x2']])
    sylwetki.append(km.silhouette_score(), km.predict(df[['x1', 'x2']])) # km.labels_

AttributeError: 'KMeans' object has no attribute 'silhouette_score'

In [23]:
sylwetki_df = pd.DataFrame({'K': ks,
                            'Sylwetka': sylwetki})

[]

In [ ]:
(ggplot(sylwetki_df, aes(x = 'K', y='Inercja'))+
 geom_point() +
 scale_x_continous(breaks = ks)
 geom_line() +
 theme_minimal() +
 labs(title= 'Inercja dla kolejnych K'))